%nav.header-nav.container-fluid
  .row
    %button.col-xs-2.col-md-1.col-sm-1.header-nav_btn-menu
    %button.header-nav_btn.header-nav_btn__ov.col-xs-5.col-md-2.col-sm-3 Overview
    %button.header-nav_btn.header-nav_btn__det.header-nav_btn__active.col-xs-5.col-md-2.col-sm-3 Details
    .header-nav_social
      %span.header-nav_social-title Share this itinerary:
      %button.header-nav_social-btn
        %i.fa.fa-facebook-square
      %button.header-nav_social-btn
        %i.fa.fa-twitter-square

