%footer.footer.container-fluid
  .row
    %ul.footer_nav.col-md-4.col-sm-4.col-xs-4
      %li
        %a(href="#")="Home"
      %li
        %a(href="#")="Itineraries"
      %li
        %a(href="#")="About"
    .footer_logo.col-md-4.col-sm-4.col-xs-4
      %img(src="images/logo.png")
    .footer_social.col-md-4.col-sm-4.col-xs-4
      %button.footer_btn
        %i.fa.fa-facebook-square
      %button.footer_btn
        %i.fa.fa-twitter-square
      .footer_copyright="(c) Wanderist 2014"