//header
$header-bg: #c8b485;
$header-color: #443b25;
$header-social_color: #443b25;
$header-btn_hover: #d2c29b;
$header-btn_border: #453c26;

//sidebar
$sidebar-bg: #fafaf2;
$sidebar-block_bg: #fff;
$sidebar-block_shadow: #000;
$sidebar-block_address: #a1a094;
$sidebar-block_roll: #2158d5;
$sidebar-vehicle_border: #ffdf06;

//date vars
$date-holder-border: #ffdf06;

//map-holder
$map-button_bg: #fede06;
$map-button_shadow: #dfc40a;

$map-tooltip_bg: #fff;
$map-tooltip_border: #e4e3d2;
$map-tooltip_shadow: #fff;
$map-tooltip_address: #a1a094;

//oveview
$overview-nav_color: #fff;
$rating-color: #d9d8c3;
$rating-color_active: #eed002;
$overview-progress_border: #dfdcb0;
$overview-progress_line: #b9e005;
$overview-progress_line-border: #fff;

$acc-holder-border: #e4e3d2;
$acc-holder-bg: #f5f4e2;
$acc-title-bg: #f9f9ee;
$acc-title-border: #e8e6d8;
$acc-widget-bg: #fff;
$acc-widget-shadow: #000;
$acc-widget-map-color: #ec4b36;
$acc-btn-bg: #fff;
$acc-btn-border: #fede06;
$acc-btn-time: #a29948;

$create-btn_bg: #ffdf06;
$create-btn_shadow: #dfc40a;

//footer
$footer-bg: #453c25;
$footer-color: #fff;
$footer-copyright: #796b46;